<header>

  <h3><%= @mv_title %></h3>

</header>


<div id="movie-info">

  <div class = "mv info"><%= @mv_basic_info %></div>

</div>

<div id="movie-more-info">

  <div class = "mv people"><%= @mv_people %></div>

  <div class = "mv poster"> <img src="<%= @mv_picture %>" alt=""> </div>

  <div class = "mv plot"><%= @mv_plot %></div>

</div>

<div id="ratings">

  <div class = "mv ratings"><%= @mv_ratings %></div>

</div>
